.title {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;

}
.innertitle {
   text-transform: uppercase;
   font-size: 25px;
   cursor: pointer;
   color: #212121;
    
}

.divider {
    margin: 10px;
    width: 100%;
    background-color: #9e9e9e;
}